<footer class="footer text-light py-4 mt-5">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-4 mb-3 d-flex flex-column align-items-center">
                <h5 class="mb-3">CometaPelis</h5>
                <p class="dtext-white text-center">
                    Tu plataforma para descubrir y seguir tus películas favoritas.
                </p>
            </div>

            <div class="col-md-4 mb-3 d-flex flex-column align-items-center">
                <h5 class="mb-3">Enlaces Rápidos</h5>
                <ul class="list-unstyled d-flex flex-column align-items-center p-0">
                    <li class="mb-2"><a routerLink="/" class="dtext-white text-decoration-none">Inicio</a></li>
                    <li class="mb-2"><a routerLink="/peliculas" class="dtext-white text-decoration-none">Películas</a>
                    </li>
                    <li class="mb-2"><a routerLink="/generos" class="dtext-white text-decoration-none">Géneros</a></li>
                </ul>
            </div>

            <div class="col-md-4 mb-3 d-flex flex-column align-items-center">
                <h5 class="mb-3">Powered By</h5>
                <img src="https://www.themoviedb.org/assets/2/v4/logos/v2/blue_square_2-d537fb228cf3ded904ef09b136fe3fec72548ebc1fea3fbbd1ad9e36364db38b.svg"
                    alt="TMDB Logo" style="max-width: 100px;">
            </div>
        </div>

        <hr class="my-4">

        <div class="row text-center">
            <div class="col-12 col-md-6 mb-3 mb-md-0">
                <small class="dtext-white">
                    © 2024 CometaPelis. Todos los derechos reservados.
                </small>
            </div>
            <div class="col-12 col-md-6">
                <div class="d-flex justify-content-center">
                    <a href="#" class="dtext-white text-decoration-none me-3">
                        <i class="bi bi-twitter"></i>
                    </a>
                    <a href="#" class="dtext-white text-decoration-none me-3">
                        <i class="bi bi-facebook"></i>
                    </a>
                    <a href="#" class="dtext-white text-decoration-none">
                        <i class="bi bi-instagram"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>